---
---

// Kit, import from a git submodule
@import "src/index";

#page {
  display: flex;
  flex-direction: row-reverse;

  #main {
    flex-basis: 70%;
  }

  #sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    height: 100vh;
    padding: 40px;
    position: sticky;
    top: 0;
    max-width: 350px;
    min-width: 200px;
    flex-basis: 30%;

    & > * {
      position: relative;
      z-index: 3;
    }

    #background {
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;

      &, &:after {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:after {
        background-color: palette("brand", 200);
        content: "";
        display: block;
        z-index: 2;
      }
    }

    .marked {
      background-color: palette("brand");
      color: palette("white") !important;
      display: inline-block;
      padding: 10px 20px;
      margin: 0 auto;
    }
  }
}
