#say-hello {
  #contact-form {
    @extend %mt-5;

    & > * {
      @extend %mt-3;
      display: block !important;

      &:not(button) {
        width: 100%;
      }
    }

    input           { @include input;    }
    textarea        { @include textarea; }
    input, textarea { min-width: 100%;   }

    button {
      @include button;
      @extend %m-auto;

      min-width: 140px;
    }
  }
}
