// Kit, import from a git submodule
@import "kit/src/index";
@import "includes/formatted_date";
@import "includes/content";

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .container { flex: 1; }

  @import "includes/header";
  @import "note";
  @import "notebook";
  @import "say_hello";
  @import "includes/footer";
}
