<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.liquid %}
<body id="page">

  <!-- Sidebar / TopMenu -->
  {% include sidebar.liquid content=site.data.sidebar %}

  <!-- Main -->
  {% include main.liquid content=site.data.main %}

</body></html>
