<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.liquid %}
<body id="page">

  <!-- Sidebar / TopMenu -->
  {% include header.liquid content=site.data.header %}

  <!-- Note -->
  {% include note.liquid content=site.data.note %}

  <!-- Footer -->
  {% include footer.liquid content=site.data.footer %}

</body></html>
