<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.liquid %}
<body id="page">

  <!-- Sidebar / TopMenu -->
  {% include header.liquid content=site.data.header %}

  <!-- Main -->
  {% include pad.liquid content=site.data.pad %}

</body></html>
