---
layout: default
---

<!-- Note -->
<main id="note" class="container">
  <div class="row is-aligned-center"><div class="ten column">

    <!-- Date -->
    {% include formatted_date.liquid date=page.date %}

    <!-- Content -->
    {% include content.liquid title=page.title content=content %}

    <!-- Thank you -->
    <p id="thank-you">
      Thank you for reading.
    </p>

    <!-- Comment Button -->
    {% if page.comment_url %}
      <a id="comment-button" href="{{ page.comment_url }}" target="_blank">Comment</a>
    {% endif %}

  </div></div>
</main>
