---
layout: default
---

<!-- Say Hello -->
<main id="say-hello" class="container">
  <div class="row is-aligned-center"><div class="ten column">

    <!-- Content -->
    {% include content.liquid title=page.title content=content %}

  </div></div>
</main>
