#note {
  @extend %py-5;
  cursor: default;

  #last-modified {
    color: palette('secondary');
    display: block;
    font: face('h5', 'bold');
    text-align: center;
  }

  #content {
    & > *  { @extend %mt-4; }
    &, h4  { @extend %mt-2; }
    h3 + * { @extend %mt-1; }
    * + h2 { @extend %mt-5; }

    h1     { font: face('h2', 'bold'); }
    h2, h4 { font: face('h3', 'bold'); }
    h3     { font: face('h4', 'bold'); }
    h4     { color: palette('secondary'); }

    li, p {
      font: face('h4');
      line-height: 33px;
    }
  }

  #thank-you {
    @extend %mt-5;

    color: palette('secondary');
    font: face('h3', 'bold');
    text-align: center;
  }
}
