.content {
  // Spaces
  & > * {
    @extend %mt-3;
    &:first-child { margin-top: 0; }
  }
  * + h2 { @extend %mt-5; }
  h3 + * { @extend %mt-2; }
  h3     { @extend %mt-4; }
  h4     { @extend %mt-2; }

  // Titles
  h1     { font: face('h2', 'bold'); }
  h2, h4 { font: face('h3', 'bold'); }
  h4     { color: palette('secondary'); }
  h3     { font: face('h4', 'bold'); }

  li, p, h4 {
    line-height: 33px;
  }

  // Paragraphs and Lists
  li, p {
    font: face('h4');
    font-size: rem(18px);
    line-height: 33px;
  }

  // Images
  img { width: 100%; }
  img + em {
    @extend %mt-1;

    display: block;
    font: face('h5');
    text-align: center;
  }

  code {
    background-color: palette('black', 50, true);
    color: palette('primary');
    padding: 2px 6px;
  }
}
