#header {
  @extend %mb-5;
  @extend %py-5;

  position: relative;

  & > * {
    position: relative;
    z-index: 3;
  }

  .container > .row > .column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .marked {
    border-radius: $border-radius;
    background-color: palette("brand");
    color: palette("white") !important;
    display: inline-block;
    padding: 10px 20px;
  }

  #background {
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    &, &:after {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:after {
      background-color: palette("brand", 200, true);
      content: "";
      display: block;
      z-index: 2;
    }
  }

  #avatar {
    border-radius: 50%;
    max-width: 540px;
    width: 100%;
  }

  #author {
    font: face('h3');
  }

  #headline {
    @extend %mt-4;
    font: face('h4');
  }

  #menu {
    @extend %mt-4;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .link {
      &:not(:last-child) { @extend %mr-3; }

      @extend %mt-3;
      @include button;
    }
  }

  @include media-query('medium', 'down') {
    & {
      text-align: center;
    }

    #avatar {
      margin-bottom: 40px;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    #menu {
      justify-content: space-between;

      .link:not(:last-child) { margin-right: 0; }
    }
  }

  @include media-query("small", "down") {
    #author, #headline, #menu .link {
      width: 100%;
    }

    #menu .link:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
