<footer id="footer">
  <div class="container"><div class="row is-aligned-center"><div class="xsmall-11 large-10 column">

    <!-- Social Menu -->
    <nav id="social-menu">
      {% for item in include.content.social_menu %}
        <a href="{{ item.link }}" class="link" target="_blank">{{ item.name }}</a>
      {% endfor %}
    </nav>

    <!-- view-source -->
    <p id="view-source">
      View-source: is cool, want to see the actual code? <a href="https://github.com/idangoldman/idan.goldman.work" target="_blank">Click here</a>.
    </p>

    <!-- Going Up -->
    <a href="#top" id="going-up">Going &#8648; Up</a>

  </div></div></div>
</footer>
