<footer id="footer">
  <div class="container"><div class="row is-aligned-center"><div class="ten column">

    <!-- Social Menu -->
    <nav id="social-menu">
      {% for item in include.content.social_menu %}
        <a href="{{ item.link }}" class="link" target="_blank">{{ item.name }}</a>
      {% endfor %}
    </nav>

    <!-- Fineprint -->
    <p id="fineprint">
      {{ include.content.fineprint | markdownify | replace: "<p>", "" | replace: "</p>", "" }}
    </p>

  </div></div></div>
</footer>
