<main id="pad" class="container">
  <div class="row is-aligned-center"><div class="ten column">

    <!-- Last Modified -->
    <time id="last-modified" datetime="{{ page.date }}">
      {{ page.date | date: "%d/%m/%Y" }}
    </time>

    <!-- Content -->
    <article id="content">
      {{ content }}
    </article>

    <!-- Thank you -->
    <p id="thank-you">
      Thank you for reading.
    </p>

    <!-- Comment Button -->
    {% if page.comment_url %}
      <a id="comment-button" href="{{ page.comment_url }}" target="_blank">Comment</a>
    {% endif %}

  </div></div>
</main>
